@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3>@ViewLocalizer["hi"],</h3>
    <p>@ViewLocalizer["message"].</p>
</div>