@model corecrud.Models.Users
@{
    ViewData["Title"] = "New User";
}
<h1>@ViewData["Title"]</h1>

<form method="POST" asp-action="Create" autocomplete="off">
    <div class="form-group">
        <input type="hidden" asp-for="Id">
        <p>Name: <input type="text" asp-for="Name" class="form-control"> </p>
    </div>
    <div class="form-group">
        <p>Surname: <input type="text" asp-for="Surname" class="form-control"> </p>
    </div>
    <div class="form-group">
        <p> Age: <input type="text" asp-for="Age" class="form-control"> </p>
    </div>
    <div class="form-group">
        @if (Model.Id == 0)
        {
            <button type="submit" class="btn btn-primary">Create</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary">Update</button>
        }
    </div>
</form>