@using Microsoft.AspNetCore.Localization;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions
@{
    var culture = Context.Features.Get<IRequestCultureFeature>();
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
    var cultureList = locOptions.Value.SupportedUICultures.Select(x => new SelectListItem { Value = x.Name, Text = localizer.GetString(x.Name) }).ToList();
}

<div>
    <form asp-action="CultureManagement"
          asp-controller="Culture"
          asp-route-returnUrl="@returnUrl"
          method="post">
        @*returnUrl // Context.Request.Path*@
        <select name="culture"
                asp-for="@culture.RequestCulture.UICulture.Name"
                asp-items="cultureList"
                onchange="this.form.submit();">
        </select>
    </form>

</div>
